In [1]:
import pandas as pd

In [2]:
recon_df = pd.read_csv('testset_reconstructed.csv')

In [12]:
len(recon_df['srch_id'].unique())

199549

In [11]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [4]:
ORIG_TRAIN_PATH = '../../data/original/train.csv'
GIVEN_TEST_PATH = '../../data/test_set_VU_DM.csv'

orig_train_df = pd.read_csv(ORIG_TRAIN_PATH)
given_test_df = pd.read_csv(GIVEN_TEST_PATH)

In [13]:
dropped_orig = orig_train_df.drop_duplicates(subset=['prop_id', 'date_time', 'site_id', 'visitor_location_country_id'])
#dropped_test = given_test_df.drop_duplicates(subset=['prop_id', 'date_time', 'site_id', 'visitor_location_country_id'])

In [14]:
merged = pd.merge(dropped_orig, given_test_df, on=['prop_id', 'date_time', 'site_id', 'visitor_location_country_id'])

In [15]:
print(len(merged))
print(len(given_test_df))

4959183
4959183

In [16]:
merged_new = merged[['srch_id_y', 'date_time', 'booking_bool', 'click_bool']]

In [17]:
merged_new = merged_new.rename(columns={"srch_id_y": "srch_id"})

In [18]:
merged_new

         srch_id            date_time  booking_bool  click_bool
0         161388  2013-05-15 10:22:02             0           0
1         161388  2013-05-15 10:22:02             0           0
2         161388  2013-05-15 10:22:02             0           0
3         161388  2013-05-15 10:22:02             0           0
4         161388  2013-05-15 10:22:02             0           0
...          ...                  ...           ...         ...
4959178   332787  2013-05-21 11:06:37             0           0
4959179   332787  2013-05-21 11:06:37             1           1
4959180   332787  2013-05-21 11:06:37             0           0
4959181   332787  2013-05-21 11:06:37             0           0
4959182   332787  2013-05-21 11:06:37             0           0

[4959183 rows x 4 columns]

In [19]:
given_test_df

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp5_rate_percent_diff,comp6_rate,comp6_inv,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff
0,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,3180,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,5543,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,14142,2,3.5,...,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,22393,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,24194,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4959178,332787,2013-05-21 11:06:37,24,216,NaN,NaN,117,32019,4,3.5,...,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4959179,332787,2013-05-21 11:06:37,24,216,NaN,NaN,117,33959,4,3.0,...,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4959180,332787,2013-05-21 11:06:37,24,216,NaN,NaN,117,35240,4,0.0,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4959181,332787,2013-05-21 11:06:37,24,216,NaN,NaN,117,94437,4,0.0,...,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4959182,332787,2013-05-21 11:06:37,24,216,NaN,NaN,117,99509,4,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
given_test_with_bools = pd.merge(given_test_df, merged_new, on=['srch_id', 'date_time'])

In [21]:
given_test_with_bools.to_csv('testset_reconstructed.csv')

NameError: name 'given_test_with_bools' is not defined